{% extends 'base.html' %}

{% load i18n %}
{% load auth %}

{% block title %}{{ block.super }} - Sign in{% endblock title %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 left text-center">
                    <h1>{% trans 'Sign in with' %}</h1>
                    <a href="{% social 'bitbucket' %}" class="btn btn-default btn-lg">
                        <i class="icon-bitbucket"></i> Bitbucket
                    </a>
                    <a href="{% social 'github' %}" class="btn btn-default btn-lg">
                        <i class="icon-github-alt"></i> Github
                    </a>
                </div>
                <div class="col-md-4 left">
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
