{% extends 'accounts/team_common.html' %}

{% load i18n %}

{% block header %}
    {% trans 'Modify Team' %}
{% endblock %}

{% block header_buttons %}
    <a href="{{ team.get_absolute_url }}" class="btn btn-default btn-sm">
        <i class="icon-arrow-left"></i> {% trans 'View Team' %}
    </a>

    <a href="{{ team.get_delete_url }}" class="btn btn-danger btn-sm">
        <i class="icon-remove"></i> {% trans 'Delete this Team' %}
    </a>
{% endblock %}

{% block buttons %}
    <button type="submit" class="btn btn-primary btn-lg">
        <i class="icon-ok"></i> {% trans 'Save' %}
    </button>
{% endblock %}