@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body {
    padding-top: 50px;
}

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.navbar .gravatar {
    font-weight: bold;
}

.navbar .gravatar img {
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

footer {
    color: gray;
    margin: 30px;
}

footer a {
    color: #333333;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

.form-buttons {
    margin-top: 40px;
}

.form-buttons .buttons {
    margin-left: 10px;
}

.form-buttons .buttons-help {
    vertical-align: middle;
}

.btn-important {
    color: #ffffff;
    background-color: #ff8800;
    border-color: #fe8800;
}
.btn-important:hover,
.btn-important:focus,
.btn-important:active,
.btn-important.active,
.open .dropdown-toggle.btn-important {
    color: #ffffff;
    background-color: #fa8800;
    border-color: #f88800;
}
.btn-important:active,
.btn-important.active,
.open .dropdown-toggle.btn-important {
    background-image: none;
}
.btn-important.disabled,
.btn-important[disabled],
fieldset[disabled] .btn-important,
.btn-important.disabled:hover,
.btn-important[disabled]:hover,
fieldset[disabled] .btn-important:hover,
.btn-important.disabled:focus,
.btn-important[disabled]:focus,
fieldset[disabled] .btn-important:focus,
.btn-important.disabled:active,
.btn-important[disabled]:active,
fieldset[disabled] .btn-important:active,
.btn-important.disabled.active,
.btn-important[disabled].active,
fieldset[disabled] .btn-important.active {
    background-color: #ff8800;
    border-color: #fe8800;
}


.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}
.has-error .btn.dropdown-toggle {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .btn.dropdown-toggle:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
