@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body {
    padding-top: 50px;
}

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

footer {
    color: gray;
    margin: 30px;
}

footer a {
    color: #333333;
}

footer a:hover {
    color: black;
    text-decoration: none;
}
