{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load future %}
{% load auth %}

{% block class  %}home-index{% endblock class %}

{% block css %}
    <link href="{% static 'home/css/index.css' %}" rel="stylesheet">
    {% include 'boots/star_boot_css.html' %}
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2 pony">
                    <img src="{% static 'home/img/pony.png' %}" />
                </div>
                <div class="col-md-5 left">
                    <h1>djangoboot</h1>
                    <p>{% trans 'templates for startproject, startapp and cookiecutter (boots)' %}</p>
                </div>
                <div class=" col-md-offset-1 col-md-4 right">
                    <form action="{% url 'boots:search' %}" method="get" role="search">
                        <div class="input-group input-group-lg">
                            <input type="text" name="q" placeholder="Search for boots..." class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                            </span>
                        </div>
                    </form>
                    {% if not request.user.is_authenticated %}
                        <div class="login">
                            <h3>{% trans 'Sign in / up' %}</h3>
                            <p>
                                <a href="{% social 'bitbucket' %}" class="btn btn-important btn-lg">
                                    <i class="icon-bitbucket"></i> Bitbucket
                                </a>
                                <span>or</span>
                                <a href="{% social 'github' %}" class="btn btn-important btn-lg">
                                    <i class="icon-github-alt"></i> Github
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% url 'boots:search' as search_url %}
    <div class="container">
        <div class="col-md-4">
            <h2>Trending Projects</h2>
            <div class="list-group">
                {% for boot in trending.projects %}
                {% include 'boots/_boot_item.html' %}
                {% empty %}
                <div class="alert alert-info text-center">No boots found.</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h2>Trending Apps</h2>
            <div class="list-group">
                {% for boot in trending.apps %}
                    {% include 'boots/_boot_item.html' %}
                {% empty %}
                    <div class="alert alert-info text-center">No boots found.</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h2>Trending CookieCutters</h2>
            <div class="list-group">
                {% for boot in trending.cookiecutters %}
                    {% include 'boots/_boot_item.html' %}
                {% empty %}
                    <div class="alert alert-info text-center">No boots found.</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    {% include 'boots/star_boot_js.html' %}
{% endblock %}
