{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load future %}

{% block class  %}home-index{% endblock class %}

{% block css %}
    <link href="{% static 'home/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2 pony">
                    <img src="{% static 'home/img/pony.png' %}" />
                </div>
                <div class="col-md-5 left">
                    <h1>djangoboot</h1>
                    <p>{% trans 'templates for startproject and startapp (boots)' %}</p>
                </div>
                <div class=" col-md-offset-1 col-md-4 right">
                    <form action="{% url 'boots:search' %}" method="get" role="search">
                        <div class="input-group input-group-lg">
                            <input type="text" name="q" placeholder="Search for boots..." class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="login">
                        <h3>{% trans 'Sign in / up' %}</h3>
                        <p>
                            <a href="#" class="btn btn-default btn-lg"><i class="icon-bitbucket"></i> Bitbucket</a>
                            <span>or</span>
                            <a href="#" class="btn btn-default btn-lg"><i class="icon-github-alt"></i> Github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <div class="col-md-6">
            <h2>Trending Projects</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">...</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Test test test test</p>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Trending Apps</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Test test test test</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Test test test test</p>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}