<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load future %}
{% load gravatar %}
{% load auth %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}djangoboot{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% trans 'templates for startproject, startapp and cookiecutter (boots)' %}{% endblock description %}">
    <meta name="author" content="sophilabs">
    <link rel="shortcut icon" href="/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
</head>

<body class="{% block class  %}{% endblock class %}">

    <header class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">djangoboot</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <form action="{% url 'boots:search' %}" method="get" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input name="q" type="text" class="form-control" placeholder="Search for boots...">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'boots:trending' %}"><i class="icon-heart"></i> {% trans 'Trending' %}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ request.user.team.get_absolute_url }}"><i class="icon-list"></i> {% trans 'My Boots' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'boots:boot_create' %}"><i class="icon-plus-sign"></i> {% trans 'Add Boot' %}</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="gravatar">
                                <img src="{% gravatar request.user.team.email %}">
                                {{ request.user.team.slug }}
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% logout %}"><i class="icon-signout"></i> {% trans 'Sign out' %}</a></li>
                            <li class="divider"></li>
                            {% for team in user.teams.all %}
                                <li><a href="{{ team.get_absolute_url }}">{{ team }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="{% url 'accounts:team_create' %}">{% trans 'Create Team' %}</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-signin"></i>
                            {% trans 'Sign in / up' %} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% social 'bitbucket' %}"><i class="icon-bitbucket"></i> Bitbucket</a></li>
                            <li><a href="{% social 'github' %}"><i class="icon-github-alt"></i> Github</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>


    {% block content %}{% endblock content %}

    <footer>
        <div class="container">
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        Made with <i class="icon-heart"></i> by <a href="http://sophilabs.com/">Sophilabs</a> for
                        <a href="http://djangodash.com/">DjangoDash 2013</a> <br/>
                        Fork me on
                        <a href="https://github.com/sophilabs/djangoboot"><i class="icon-github"></i> GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44408185-1', 'djangoboot.com');
        ga('send', 'pageview');

    </script>
    {% block js %}

    {% endblock js %}
</body>
</html>
