{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <main role="main">
        <div class="container">
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <h3></h3>
                        <div class="text-center">
                            {% trans 'Are you sure you want to delete' %} <b>{{ object }}</b> ?

                            <hr/>
                            {% bootstrap_form_buttons %}
                                <button type="submit" class="btn btn-primary btn-lg pull-right">
                                    {% trans 'Delete' %} <i class="icon-remove"></i>
                                </button>
                            {% end_bootstrap_form_buttons %}

                            <a href="{{ object.get_absolute_url }}" class="btn btn-default btn-lg pull-left">
                                <i class="icon-arrow-left"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
