{% extends 'boots/boot_version_common.html' %}

{% load i18n %}

{% block title %}Add Version - {{ boot.team.slug }}/{{ boot.slug }} - {{ block.super }}{% endblock %}

{% block header %}
    <a href="{{ boot.team.get_absolute_url }}">{{ boot.team.slug }}</a>
    <span class="text-muted">/</span>
    <a href="{{ boot.get_absolute_url }}">{{ boot.slug }}</a>
    <span class="text-muted">/</span>
    {% trans 'Add Version' %}
{% endblock header %}

{% block buttons %}
    <button type="submit" class="btn btn-primary btn-lg space-10">
        <i class="icon-plus-sign"></i> {% trans 'Add' %}
    </button>
{% endblock buttons %}
