{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'boots/css/boot_version_common.css' %}"/>
{% endblock css %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <div class="pull-right">
                    {% block header_buttons %}{% endblock header_buttons %}
                </div>
                <h1>{% block header %}{% endblock header %}</h1>
            </div>

            {% include "common_form_errors.html" %}

            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.readme %}
                    </div>


                    <div class="col-md-4 left">
                        {% bootstrap_field form.command %}
                    </div>

                    <div class="col-md-4 left">
                        {% bootstrap_field form.slug %}

                        <div class="form-buttons">
                            <div class="pull-right buttons">
                                {% bootstrap_form_buttons %}
                                    {% block buttons %}
                                    {% endblock %}
                                {% end_bootstrap_form_buttons %}
                            </div>

                            <div class="text-right buttons-help">
                                {% block buttons_help %}
                                {% endblock buttons_help %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/team_selector.js' %}"></script>
{% endblock js %}