{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <div class="pull-right">
                    {% if boot_team_member %}
                        <a class="btn btn-default btn-md" href="{{ boot.get_update_url }}">
                            <i class="icon-pencil"></i> {% trans 'Update Boot' %}
                        </a>
                        <a class="btn btn-danger btn-md" href="{{ object.get_delete_url }}">
                            <i class="icon-remove"></i> {% trans 'Delete this version' %}
                        </a>
                    {% endif %}

                    <a class="btn btn-primary btn-md" href="#"><i class="icon-heart"></i> 45</a>
                </div>

                <h1>
                    <a href="{{ boot.team.get_absolute_url }}">{{ boot.team.slug }}</a>
                    <span class="text-muted">/</span>
                    <a href="{{ boot.get_absolute_url }}">{{ boot.slug }}</a>
                </h1>
            </div>


            {% if object %}
                {{ boot.tagline }} {% if boot.url %} - <a href="{{ boot.url }}">{{ boot.url }}</a> {% endif %}<br/>

                <div class="row">
                    <div class="col-md-8">
                        {% for tag in boot.tags.all %}
                            <a href="#" class="label label-primary">{{ tag }}</a>
                        {% endfor %}

                        <hr/>

                        <div class="input-group">
                            <input disabled="disabled" type="text" class="form-control input-lg" value="{{ object.source }}">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-lg btn-primary" data-clipboard-text="{{ object.source }}">
                                    <i class="icon-copy"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="list-group">
                            {% for version in boot.versions.all %}
                                <a href="{% if version != object %}{{ version.get_absolute_url }}{% endif %}" class="list-group-item {% if version == object %}active{% endif %}">
                                    <span>{{ version.created }}</span>
                                    <span class="badge">{{ version.slug }}</span>
                                </a>
                            {% endfor %}

                            {% if boot_team_member %}
                                <a href="{{ boot.get_create_url }}" class="list-group-item">
                                    <i class="icon-plus-sign"></i> {% trans 'Add Version' %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <h3></h3>
                        <div class="text-center">
                            {% trans 'This boot does not have any version.' %}
                            {% if boot_team_member %}
                                <hr/>
                                <a href="{{ boot.get_create_url }}" class="btn btn-primary btn-lg">
                                    <i class="icon-plus-sign"></i> {% trans 'Add Version' %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
