{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load stars %}
{% load humanize %}
{% load future %}

{% block css %}
    {{ block.super }}
    {% include 'boots/star_boot_css.html' %}
{% endblock css %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <div class="pull-right">
                    {% if team_member %}
                        <a class="btn btn-default btn-sm" href="{{ boot.get_update_url }}">
                            <i class="icon-pencil"></i> {% trans 'Update Boot' %}
                        </a>
                        {% if version %}
                            <a class="btn btn-danger btn-sm" href="{{ version.get_delete_url }}">
                                <i class="icon-remove"></i> {% trans 'Delete this Version' %}
                            </a>
                        {% endif %}
                    {% endif %}

                    {% star_button boot css_class='btn-sm' %}
                </div>

                <h1>
                    <a href="{{ boot.team.get_absolute_url }}">{{ boot.team.slug }}</a>
                    <span class="text-muted">/</span>
                    <a href="{{ boot.get_absolute_url }}">{{ boot.slug }}</a>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-8">
                    {{ boot.tagline }} {% if boot.url %} - <a href="{{ boot.url }}">{{ boot.url }}</a> {% endif %}<br/>
                    {% for tag in boot.tags.all %}
                        <a href="{% url 'boots:search' %}?tag={{ tag }}" class="label label-primary">{{ tag }}</a>
                    {% endfor %}


                    {% if version %}
                    <hr/>
                    {% with version.get_command as command %}
                        <div class="input-group">
                            <input disabled="disabled" type="text" class="form-control input-lg" value="{{ command }}">
                            <span class="input-group-btn">
                                <button id="copy-button" class="btn btn-search btn-lg btn-primary" data-clipboard-text="{{ command }}">
                                    <i class="icon-copy"></i>
                                </button>
                            </span>
                        </div>
                    {% endwith %}
                    {% endif %}
                </div>

                <div class="col-md-4">
                    {% if version %}
                    <div class="list-group">
                        {% if team_member %}
                            <a href="{{ boot.get_create_url }}" class="list-group-item text-center">
                                <i class="icon-plus-sign"></i> {% trans 'Add Version' %}
                            </a>
                        {% endif %}

                        {% for boot_version in boot.versions.all %}
                            <a href="{% if boot_version != version %}{{ boot_version.get_absolute_url }}{% endif %}" class="list-group-item {% if boot_version == version %}active{% endif %}">
                                <span>{{ boot_version.slug }}</span>
                                <span class="badge">{{ boot_version.created|naturalday }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="text-center">
                            {% trans 'This boot does not have any version.' %}
                            {% if team_member %}
                                <hr/>
                                <a href="{{ boot.get_create_url }}" class="btn btn-primary btn-lg">
                                    <i class="icon-plus-sign"></i> {% trans 'Add Version' %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block js %}
    {{ block.super }}
    {% include 'zero_clipboard_js.html' %}
    {% include 'boots/star_boot_js.html' %}
{% endblock %}
