{% extends 'boots/boot_common.html' %}

{% load i18n %}

{% block title %}Add Boot - {{ block.super }}{% endblock %}

{% block header %}
    {% trans 'Add Boot' %}
{% endblock header %}

{% block buttons_help %}
    <span class="text-muted">
        {% blocktrans %}
            Once you add the boot you'll be able to add its first version.
        {% endblocktrans %}
    </span>
{% endblock buttons_help %}

{% block buttons %}
    <button type="submit" class="btn btn-primary btn-lg space-10">
        <i class="icon-plus-sign"></i> {% trans 'Add' %}
    </button>
{% endblock buttons %}
