{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <h1><i class="icon-plus-sign"></i> {% trans 'Add Version' %} <small></small></h1>
            </div>


            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        {% bootstrap_form form %}

                        {% bootstrap_form_buttons %}
                            <button type="submit" class="btn btn-primary btn-lg pull-right">
                                {% trans 'Add Version' %}
                            </button>
                        {% end_bootstrap_form_buttons %}

                        <a href="{{ boot.get_absolute_url }}" class="btn btn-default btn-lg">
                            Back to Boot
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
