{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'boots/css/boot_common.css' %}"/>
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <div class="pull-right">
                    {% block header_buttons %}{% endblock %}
                </div>

                <h1>{% block header %}{% endblock %}</h1>
            </div>

            {% include "common_form_errors.html" %}

            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.type %}

                        <div class="form-group">
                            <label>Boot slug</label>

                            <div class="form-inline">
                                <div class="form-group {% if form.team.errors %}has-error{% endif %} boot-team">
                                    <!-- Owner -->
                                    {% include 'accounts/team_selector.html' %}
                                </div>

                                <div class="form-group text-muted boot-slash">
                                    /
                                </div>

                                <div class="form-group {% if form.slug.errors %}has-error{% endif %} boot-slug">
                                    <!-- Slug -->
                                    {% bootstrap_field form.slug show_label=False %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 left">
                        {% bootstrap_field form.tagline %}
                        {% bootstrap_field form.tags %}
                    </div>

                    <div class="col-md-4 left">
                        {% bootstrap_field form.url %}

                        <div class="form-buttons">
                            <div class="pull-right buttons">
                                {% bootstrap_form_buttons %}
                                    {% block buttons %}
                                    {% endblock %}
                                {% end_bootstrap_form_buttons %}
                            </div>

                            <div class="text-right buttons-help">
                                {% block buttons_help %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/team_selector.js' %}"></script>
{% endblock %}