{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="page-header">
                <span class="pull-right"><a class="btn btn-primary btn-md" href="#"><i class="icon-heart"></i> 45</a></span>

                <h2><a href="#">{{ object.team.slug }}</a> <span class="text-muted">/</span> <a href="#">{{ object.slug }}</a></h2>
            </div>

            {{ object.tagline }} - <a href="{{ object.url }}">{{ object.url }}</a> <br/>

            <div class="row">
                <div class="col-md-8">
                    {% for tag in object.tags.all %}
                        <a href="#" class="label label-primary">{{ tag }}</a>
                    {% endfor %}

                    <hr/>

                    <div class="input-group">
                        <input disabled="disabled" type="text" class="form-control input-lg" value="http://asdf.com/qwer/uiop.zip">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-search btn-lg btn-primary" data-clipboard-text=""><i class="icon-copy"></i></button>
                        </span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <span>December 14, 2013</span>
                            <span class="badge">0.4</span>
                        </a>

                        <a href="#" class="list-group-item">
                            <span>December 14, 2013</span>
                            <span class="badge">0.4</span>
                        </a>

                        <a href="#" class="list-group-item">
                            <span>December 14, 2013</span>
                            <span class="badge">0.4</span>
                        </a>

                        <a href="#" class="list-group-item">
                            <span>December 14, 2013</span>
                            <span class="badge">0.4</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
