{% extends 'base.html' %}

{% load i18n %}
{% load future %}
{% load gravatar %}
{% load staticfiles %}
{% load qurl %}
{% load stars %}
{% load teams %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'boots/css/search.css' %}" rel="stylesheet">
    {% include 'boots/star_boot_css.html' %}
{% endblock css %}

{% block class %}{{ block.super }} boots-search{% endblock class %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 filters">
                {% if team %}
                <div class="well">
                    <div class="row">
                        <img class="col-md-12" src="{% gravatar team.email 200 %}" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5><b>{{ team }}</b> {% if team.name != team.slug %}<span class="text-muted">({{ team.slug }})</span>{% endif %}</h5>
                            <h5><i class="icon-envelope"></i> {{ team.email }}</h5>
                            {% if team.url %}
                            <h5><i class="icon-link"></i> <a href="{{ team.url }}">{{ team.url }}</a></h5>
                            {% endif %}
                            {% if team.created %}
                            <h5><i class="icon-calendar-empty"></i> Joined on {{ team.created|date:'M j, Y' }}</h5>
                            {% endif %}
                        </div>
                    </div>

                    {% if team|has_user:user %}
                        <a class="btn btn-sm btn-default" href="{{ team.get_update_url }}"><i class="icon-pencil"></i> {% trans 'Modify' %}</a>
                        {% if team.is_team %}
                            <a class="btn btn-sm btn-default" href="{{ team.get_leave_url }}">{% trans 'Leave Team' %}</a>
                        {% endif %}
                    {% endif %}

                    {% with team.is_user as view_user %}
                    {% with user.teams.all as user_teams %}
                        {% if user.team != team and view_user and user_teams %}
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                                    {% trans 'Shared teams' %} <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                    {% for add_team in user_teams %}
                                        <li>
                                            {% if add_team|has_user:view_user %}
                                                <a href="{{ add_team.get_absolute_url }}"><b>{{ add_team }}</b></a>
                                            {% else %}
                                                <a href="{{ add_team.get_add_user_url }}?user={{ view_user.id }}">
                                                    {% trans 'Add to' %} <b>{{ add_team }}</b>
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                </div>
                {% endif %}
                <form class="form-inline" role="form" method="get" action="{% qurl request.get_full_path page=None q=None %}">
                    <div class="input-group">
                        <input name="q" class="form-control" type="text" placeholder="Search..." value="{{ form.q.value|default_if_none:'' }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </form>
                <hr>
                <h4>Type</h4>
                <ul class="nav nav-pills nav-justified">
                    <li class="{% if not form.type.value %}active{% endif %}">
                        <a href="{% qurl request.get_full_path page=None type=None %}">{% trans 'All' %}</a>
                    </li>
                    <li class="{% if form.type.value == 'P'  %}active{% endif %}">
                        <a href="{% qurl request.get_full_path page=None type='P' %}">{% trans 'Project' %}</a>
                    </li>
                    <li class="{% if form.type.value == 'A'  %}active{% endif %}">
                        <a href="{% qurl request.get_full_path page=None type='A' %}">{% trans 'App' %}</a>
                    </li>
                    <li class="{% if form.type.value == 'C'  %}active{% endif %}">
                        <a href="{% qurl request.get_full_path page=None type='C' %}">{% trans 'Cookie' %}</a>
                    </li>
                </ul>
                <hr>
                <h4>Tags</h4>
                <ul class="nav nav-pills nav-stacked">
                    {% for tag in tags %}
                    <li class="{% if tag.2 %}active{% endif %}">
                        <a href="{% if tag.2 %}{% qurl request.get_full_path page=None tag-=tag.0 %}{% else %}{% qurl request.get_full_path page=None tag+=tag.0 %}{% endif %}">
                            <span class="badge pull-right">{{ tag.1 }}</span>
                            {{ tag.0 }}
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <form class="form-inline" role="form" method="get" action="{% qurl request.get_full_path page=None %}">
                            <input name="tag" class="form-control" type="text" placeholder="Type a tag...">
                            {{ form.tag }}
                        </form>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 results">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {% block sort_name %}{% trans 'Sort:' %}{% endblock sort_name %}
                                <strong>{{ form.sorted_name }}</strong>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% block sort_options %}
                                <li><a href="{% qurl request.get_full_path page=None sort='loved' %}">{% trans 'Most Loved' %}</a></li>
                                <li><a href="{% qurl request.get_full_path page=None sort='added' %}">{% trans 'Recently Added' %}</a></li>
                                <li><a href="{% qurl request.get_full_path page=None sort='modified' %}">{% trans 'Recently Modified' %}</a></li>
                                {% endblock sort_options %}
                            </ul>
                        </div>
                        <h2>{% block search_title %}{% trans 'Results' %}{% endblock search_title %} <small>{{ page.paginator.count }} boots</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="list-group">
                            {% for boot in page.object_list %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span class="pull-right">{% star_button boot.object css_class='btn-xs' %}</span>
                                    <a href="{{ boot.object.team.get_absolute_url }}">{{ boot.object.team.slug }}</a>
                                    /
                                    <a href="{{ boot.object.get_absolute_url }}">{{ boot.slug }}</a>
                                </h4>
                                <p class="list-group-item-text">{{ boot.object.tagline }}</p>
                                <p class="list-group-item-text">
                                    <a href="{% qurl request.get_full_path page=None type=boot.object.type %}" class="label label-default">{{ boot.object.get_type_display|lower }}</a>
                                    {% for tag in boot.object.tags.all %}
                                    <a href="{% qurl request.get_full_path page=None tag+=tag.slug %}" class="label label-primary">{{ tag.slug }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            {% empty %}
                                <div class="alert alert-info text-center">No boots found.</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            {% if page.has_previous %}
                            <li><a href="{% qurl request.get_full_path page=page.previous_page_number %}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            {% endif %}
                            {% for page_number in page.paginator.page_range %}
                                {% if page.number == page_number %}
                                <li class="disabled"><a href="#">{{ page_number }}</a></li>
                                {% else %}
                                <li><a href="{% qurl request.get_full_path page=page_number %}">{{ page_number }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page.has_next %}
                                <li><a href="{% qurl request.get_full_path page=page.next_page_number %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    {% include 'boots/star_boot_js.html' %}
{% endblock %}
